<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="fileName" value="test.xls" />
    <add key="firstNotification" value="9:00" />
    <add key="ignoreText" value="Бракуван;Не се използва" />
    <add key="ignoreCheckColumn" value="Забележка" />
    <add key="password" value="5d41402abc4b2a76b9719d911017c592" />
    <add key="toExpiration" value="16" />
    <add key="lastSnoozeIndex" value="0" />
    <add key="snoozeTexts" value="5 min;10 min;15 min;30 min;1 hour;4 hour" />
    <add key="snoozeValues" value="1;10;15;30;60;240" />
    <add key="columnName" value="Expire;Sheet Name;Empty Column" />
    <add key="filterIndex" value="0" />
    <add key="columnSource" value="Техн#Преглед;ГО + ЗК;Тахограф" />
    <add key="columnCalculation" value="ТП Дни;ГО+ЗК Дни;Тахограф Дни" />
    <add key="sheetCaption" value="Sheet Caption" />
    <add key="yellowSheets" value="Gasoline;Battery" />
    <add key="notificationFilter" value="Рег#Номер;Марка;Техн#Преглед;ГО + ЗК;Тахограф;Влекач;Забележка;ТП Дни;ГО+ЗК Дни;Тахограф Дни;Sheet Caption" />
    <add key="mainWindowSize" value="800;600" />
    <add key="notificationWindowSize" value="800;600" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>