<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="fileName" value="D:\\docs\\2.КАМИОНИ - МГ - ЗАСТРАХОВКИ -ТАХО.xls" />
    <add key="firstNotification" value="9:00" />
    <add key="ignoreText" value="Бракуван" />
    <add key="ignoreCheckColumn" value="Забележка" />
    <add key="password" value="5d41402abc4b2a76b9719d911017c592" />
    <add key="toExpiration" value="16" />
    <add key="lastSnoozeIndex" value="3"/>
    <add key="snoozeTexts" value="5 min;10 min;15 min;30 min;1 hour;4 hour;1 day"/>
    <add key="snoozeValues" value="5;10;15;30;60;240;1440"/>
    <add key="columnName" value="Expire;Sheet Name;Empty Column"/>
    <add key="filterIndex" value="0"/>
  </appSettings>
</configuration>